body, h1, h2, h3, h4, h5, h6 {

}

.fa-anchor, .fa-coffee {
  font-size: 200px;
}

* {
    box-sizing: border-box;
}

menu {
  display: none;
}
.login-container {
    height: 100vh;
}

* {
  box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-size: 16px;
}
.officialtitle {
  color:red;
  font-size:40px;
  margin-top: 5%;
}

ul.menu {
          list-style-type: none;
          margin: 0;
          padding: 0;
          background-color: #333; /* Background color for the menu bar */
          overflow: hidden;
      }

      ul.menu li {
          float: left;
      }

      ul.menu li a {
          display: block;
          color: white;
          text-align: center;
          padding: 14px 16px;
          text-decoration: none;
      }

      ul.menu li a:hover {
          background-color: #555; /* Background color for menu items on hover */
      }

      /* Style for the search bar */
       #search-container {
           float: right;
           margin-right: 20px;
           margin-top: 10px;
       }

       #search-bar {
           padding: 5px;
           border: none;
           border-radius: 4px;
       }
       /* Style for the image title */
      #menu-title {
          float: left;
          margin-left: 20px;
          margin-top: 5px; /* Adjust the top margin to align with the menu items */
      }


      /* The side navigation menu */
      .sidebar {
        margin: 0;
        padding: 0;
        width: 200px;
        background-color: #f1f1f1;
        position: fixed;
        height: 100%;
        overflow: auto;
      }

      /* Sidebar links */
      .sidebar a {
        display: block;
        color: black;
        padding: 16px;
        text-decoration: none;
      }

      /* Active/current link */
      .sidebar a.active {
        background-color: black;
        color: white;
      }

      /* Links on mouse-over */
      .sidebar a:hover:not(.active) {
        background-color: #555;
        color: white;
      }


      /* On screens that are less than 400px, display the bar vertically, instead of horizontally */
      @media screen and (max-width: 400px) {
          .sidebar-right a {
              text-align: center;
              float: none;
          }
      }

      /* Style for the accessibility buttons */



.login-container {


}

label, input {
    display: block;
    margin: 10px 0;
    font-size: 16px;
}




button {
  margin-top: 5%;
    background-color: #007BFF;
    color: white;
    padding: 6px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    margin: 0%;

}



button:hover {
    background-color: #0056b3;
}

.error-message {
    color: red;
    font-weight: bold;
}
